/*TW*/
.footerFormNotice{color: #FF8901;font-size: 9pt;}
.footerFormNormalText{color: #464646;font-size: 9pt;}
.footerFormNoticeText{color: #464646;font-weight: bold;font-size: 9pt;}
/*Europe*/
/*
.footerFormNotice{color:#FF8901;}
.footerFormNormalText{color:#464646;font-size: 9pt;}
.footerFormNoticeText{color:#464646;font-weight: bold;font-size: 9pt;}
.footerFormTable{font-family: Arial;font-size: 9pt;position:relative;width:100%;}
*/