body { margin-top:0px;margin-left:0px;margin:0px}
body
{
	font-family: Arial;
	font-size:9pt;
	color: #000000;
}
td, th, label, div,p, h1, h2, h3, li, ul,option, span 
{
	font-size:9pt;
}
select, input, textarea {
	font-family: Arial;
	font-size: 9pt;
	color: #000000;
	margin-left: 1px;
	margin-right: 1px;
}

A
{
	color:black;
	margin-left: 0px;
	margin-top: 2px;
	margin-right: 0px;
	margin-bottom:2px;
	/* font-family:arial, 新?明w; */
	font-size: 9pt;
}

A Hover
{
	color:black;
	/* font-family:arial, 新?明w; */
	font-size: 9pt;
}

Img
{
	border:0;
}

.LogoLeftCss
{
	background-image: url(../Images/Banner_left.jpg);
	width:360px;
	height:50px;
	float:left;
}

.LogoSpacerCss
{
	background-image: url(../Images/Banner_BG.jpg);
	background-repeat: repeat-x;
	width:100%;
	height:50px;
}

.LogoRightCss
{
	background-image: url(../../Images/Banner_Qisda_logo.jpg);
	width:130px;
	height:50px;
	float:right;
}

.WelcomeNameCss
{
	background-color: #5b5b5b;
	COLOR: #d7d7d7; 
	LINE-HEIGHT: 150%; 
	/* font-family:arial, 新?明w; */
	font-size: 9pt;
	FONT-STYLE: normal; 
	width: 100%;
	height:28px;
}


.LanguageChange
{
	background-color: #5b5b5b;
	COLOR: #d7d7d7; 
	LINE-HEIGHT: 150%; 
	/* font-family:arial, 新?明w; */
	font-size: 9pt;
	FONT-STYLE: normal; 
	width: 100%;
	height:28px;
}



.LogoutButton
{
	background-color: #5b5b5b;
	COLOR: #d7d7d7; 
	LINE-HEIGHT: 150%; 
	/* font-family:arial, 新?明w; */
	font-size: 9pt;
	FONT-STYLE: normal; 
	width: 100%;
	height:28px;
}



.WelcomeSpacerCss_old
{
	background-image: url(../Images/top_BG.jpg);
	background-repeat:repeat-x;
	width:100%;
	height:30px;
}


.WelcomeSpacerCss
{
	background-color: #5b5b5b;
	vertical-align: middle;
}


.LabelGeneral
{
	color: inherit;
	white-space:normal;
	/* font-family:arial, 新?明w; */
	font-size: 10pt;
}

.LabelSystemName
{
	FONT-WEIGHT: normal;
	/* font-family:arial, 新?明w; */
	font-size: 18pt;
	COLOR: #2e2e2e;
	LINE-HEIGHT: 155%;
	TEXT-DECORATION: none
}

.LabelTitle
{
	font-weight:bold;
	font-family: arial, 新?明w;
	font-size: 16pt;
	COLOR: #2e2e2e;
	LINE-HEIGHT: 155%;
	TEXT-DECORATION: none
}

.LabelSubTitle
{
	/* font-family:arial, 新?明w; */
	FONT-SIZE: 12pt; 
	COLOR: #2e2e2e; 
	LINE-HEIGHT: 160%; 
	TEXT-DECORATION: none;
	overflow:visible;		
}

.DisplayLogoCss
{
	background-image: url(../../Images/Icon_Banner_hide.gif);
	background-repeat:no-repeat;
	width:30px;
	height:30px;
	cursor:hand;
	margin:0;
	padding:0;
}

.LogoutCss
{
	float:right;
	width:100px;
	margin-right:10px;
	height:30px;
	line-height:30px;
	color: #505050;
}

.LogoutCss A
{
	color: #505050;
	text-decoration: none;
}

.Main_MenuItem_Div_Css
{
	
	background-color:#3386a5;
	border:1px solid #005270;
	color:#FFFFFF;
	cursor:default;
	margin-bottom:2px;
	width:100%;
	height:20px;
	line-height:20px;
	overflow:visible;
	table-layout:fixed;
	word-break:all;
	/* font-family:arial, 新?明w; */
	font-size: 9pt;
	font-weight:bold;
}

.Main_MenuItem_Div_MouseOver_Css
{
	width:100%;
	background-color:black; 
	border:1px solid #65abc2;	
	margin-bottom:2px;
	color: White;
	height:20px;	
	line-height:20px;	
	cursor:default;
	/* font-family:arial, 新?明w; */
	font-size:9pt;
	font-weight:bold;
}

.Main_MenuItem_Selected_Css
{		
	TEXT-DECORATION: none;		
	border-right: #B9ADD5 1px solid;
	border-top: #B9ADD5 1px solid;
	border-left: #B9ADD5 1px solid;
	border-bottom: #B9ADD5 1px solid;
	
	width:100%;
	background-color:black; 
	border:1px solid #65abc2;	
	margin-bottom:2px;
	color: White;
	height:20px;	
	line-height:20px;	
	cursor:default;	
	/* font-family:arial, 新?明w; */
	font-size:9pt;
	font-weight:bold;
}

.Main_MenuItem_Span_Css
{
	width:100%;
	background-color:inherit;
	color: inherit;
	margin-bottom:2px;
	height:20px;
	line-height:20px;	
	cursor:pointer;
	word-break:all;
	/* font-family:arial, 新?明w; */
	font-size:9pt;
	font-weight:bold;
}


.Sub_MenuItem_Div_Css
{
	color: white; 
	TEXT-DECORATION: none;
	background-color: #99c3d2;
	border-right: #B9ADD5 1px solid;
	border-top: #B9ADD5 1px solid;
	border-left: #B9ADD5 1px solid;
	border-bottom: #B9ADD5 1px solid;
	cursor:pointer;
	padding-left:20px;
	margin-bottom:2px;
	height:20px;
	line-height:20px;
	overflow:visible;
	/* font-family:arial, 新?明w; */
	font-size:9pt;
	font-weight:bold;
}

.Sub_MenuItem_Div_MouseOver_Css
{
	color: #000000; 
	TEXT-DECORATION: none;
	background-color: #FFFFFF;
	border-right: #B9ADD5 1px solid;
	border-top: #B9ADD5 1px solid;
	border-left: #B9ADD5 1px solid;
	border-bottom: #B9ADD5 1px solid;
	cursor: default;
	padding-left:20px;
	margin-bottom:2px;
	height:20px;
	font-style:normal;
	line-height:20px;
	overflow:visible;
	/* font-family:arial, 新?明w; */
	font-size:9pt;
	font-weight:bold;
}

.Sub_MenuItem_Selected_Css
{
	
	TEXT-DECORATION: none;		
	border-right: #B9ADD5 1px solid;
	border-top: #B9ADD5 1px solid;
	border-left: #B9ADD5 1px solid;
	border-bottom: #B9ADD5 1px solid;
	
	color: #000000; 
	TEXT-DECORATION: none;
	background-color: #FFFFFF;
	border-right: #B9ADD5 1px solid;
	border-top: #B9ADD5 1px solid;
	border-left: #B9ADD5 1px solid;
	border-bottom: #B9ADD5 1px solid;
	cursor: default;
	padding-left:20px;
	margin-bottom:2px;
	height:20px;
	font-style:normal;
	line-height:20px;	
	/* font-family:arial, 新?明w; */
	font-size:9pt;
	font-weight:bold;
}


.Sub_MenuItem_Span_Css
{
	width:100%;
	background-color:inherit;
	color: inherit;
	cursor: pointer;
	margin-bottom: 2px;
	height: inherit;
	line-height: inherit;
	word-break:all;
	/* font-family:arial, 新?明w; */
	font-size:9pt;
	font-weight:bold;
}


.MenuIconHideCss
{
	float:right;
	margin-top:25px;
	cursor:pointer;
}




.MenuLeftSpacerCss
{
	background-image: url(../../Images/spacer.gif);
	height:2px;
	width:100%;
	background-repeat:repeat-x;
}

.MenuLeftContentCss
{
	margin:20px 5px 0 0px;
}


.FooterCss
{
	background-color:Black;
	clear:both;
	height:25px;
	line-height:25px;
	text-align:center;
	COLOR: #c9c7c7;
	width:100%;
	/* font-family:arial, 新?明w; */
	font-size: 10pt;	
}

.button30
{
	background-image: url(../Images/Button_BG_030.gif);
	text-align: center;
	cursor: hand;

	background-color: Transparent;
	width: 30px;
	height: 20px;
	color: #000000;
	border-style: none;
	/* font-family:arial, 新?明w; */
	font-size: 10pt;
}


.button60
{
	background-image: url(../Images/Button_BG_060.gif);
	text-align: center;
	cursor: hand;
	background-color: transparent;
	width: 60px;
	height: 20px;
	color: #000000;
	border-style: none;
	/* font-family:arial, 新?明w; */
	font-size: 10pt;
}

.button80
{
	background-image: url(../Images/Button_BG_080.gif);
	text-align: center;
	cursor: hand;
	background-color: transparent;
	width: 80px;
	height: 20px;
	color: #000000;
	border-style: none;
	/* font-family:arial, 新?明w; */
	font-size: 10pt;
}

.button100
{
	BACKGROUND-IMAGE: url(../Images/Button_BG_100.gif); 
	TEXT-ALIGN: center;
	CURSOR: hand;
	BACKGROUND-COLOR: Transparent;
	WIDTH: 100px;
	HEIGHT: 20;
	color: #000000;
    border-style: none;
    /* font-family:arial, 新?明w; */
	font-size: 10pt;
}

.button120
{
	BACKGROUND-IMAGE: url(../Images/Button_BG_120.gif); 
	TEXT-ALIGN: center;
	CURSOR: hand;
	BACKGROUND-COLOR: Transparent;
	WIDTH: 120px;
	HEIGHT: 20;
	color: #000000;
    border-style: none;
    /* font-family:arial, 新?明w; */
	font-size: 10pt;
}

.button130
{
	BACKGROUND-IMAGE: url(../Images/Button_BG_130.gif); 
	TEXT-ALIGN: center;
	CURSOR: hand;
	BACKGROUND-COLOR: Transparent;
	WIDTH: 130px;
	HEIGHT: 20;
	color: #000000;
    border-style: none;
    /* font-family:arial, 新?明w; */
	font-size: 10pt;
}

.button140
{
	BACKGROUND-IMAGE: url(../Images/Button_BG_140.gif); 
	TEXT-ALIGN: center;
	CURSOR: hand;
	BACKGROUND-COLOR: Transparent;
	WIDTH: 140px;
	HEIGHT: 20;
	color: #000000;
    border-style: none;
    /* font-family:arial, 新?明w; */
	font-size: 10pt;
}

.button150
{
	BACKGROUND-IMAGE: url(../Images/Button_BG_150.gif); 
	TEXT-ALIGN: center;
	CURSOR: hand;
	BACKGROUND-COLOR: Transparent;
	WIDTH: 150px;
	HEIGHT: 20;
	color: #000000;
    border-style: none;
    /* font-family:arial, 新?明w; */
	font-size: 10pt;
}

.button180
{
	BACKGROUND-IMAGE: url(../Images/Button_BG_180.gif); 
	TEXT-ALIGN: center;
	CURSOR: hand;
	BACKGROUND-COLOR: Transparent;
	WIDTH: 180px;
	HEIGHT: 20;
	color: #000000;
    border-style: none;
    /* font-family:arial, 新?明w; */
	font-size: 10pt;
}

.button220
{
	BACKGROUND-IMAGE: url(../Images/Button_BG_220.gif); 
	TEXT-ALIGN: center;
	CURSOR: hand;
	BACKGROUND-COLOR: Transparent;
	WIDTH: 220px;
	HEIGHT: 20;
	color: #000000;
    border-style: none;
    /* font-family:arial, 新?明w; */
	font-size: 10pt;
}

.button230
{
	BACKGROUND-IMAGE: url(../Images/Button_BG_230.gif); 
	TEXT-ALIGN: center;
	CURSOR: hand;
	BACKGROUND-COLOR: Transparent;
	WIDTH: 230px;
	HEIGHT: 20;
	color: #000000;
    border-style: none;
    /* font-family:arial, 新?明w; */
	font-size: 10pt;
}

.grid-header
{	
	height:25px;	
	border-left: #cccccc 1px solid; 
	border-right: #cccccc 1px solid; 
	border-top: #cccccc 1px solid; 
	border-bottom: #cccccc 1px solid; 
	border-collapse: collapse;
	WORD-BREAK:   break-all;
	word-spacing:normal;	
	/* font-family:arial, 新?明w; */
	font-size: 10pt;		
}
.gridTitle
{
	background-color: #E4E4E4;
	vertical-align: middle;
	height: 25px;
	text-align:left;
	font-weight:bold;
}
.grid-item
{
	
	border-left: #cccccc 1px solid; 
	border-right: #cccccc 1px solid; 
	border-top: #cccccc 1px solid; 
	border-bottom: #cccccc 1px solid; 
	color:  #3D3D3D;
	WORD-BREAK:break-all;
	word-spacing:normal;
	height:22px;	
	/* font-family:arial, 新?明w; */
	font-size: 10pt;
}
.grid-bigItem
{
	
	border-left: #cccccc 1px solid; 
	border-right: #cccccc 1px solid; 
	border-top: #cccccc 1px solid; 
	border-bottom: #cccccc 1px solid; 
	color:  #3D3D3D;
	word-break: break-all;
	word-spacing:normal;
	height:100px;
	/* font-family:arial, 新?明w; */
	font-size: 10pt;
	
	
}

.label-largeText
{
	/* font-family:arial, 新?明w; */
	 font-size:15pt;
}
.label-bigText
{
	/* font-family:arial, 新?明w; */
	 font-size:10pt;
}

.label-Text
{
	/* font-family:arial, 新?明w; */
	 font-size:10pt;
}

.LabelGeneral
{
	/* font-family:arial, 新?明w; */
	font-size: 10pt;
	color: #3D3D3D; 	
	white-space:normal;
}


.Label-Wrap
{
	/* font-family:arial, 新?明w; */
	font-size: 10pt;
	color: #3D3D3D; 	
	white-space:normal;	
}


.TextBox-Text
{
	border-left: #D5D5D5 0px solid; 
	border-right: #D5D5D5 0px solid; 
	border-top: #D5D5D5 0px solid; 
	border-bottom: #D5D5D5 1px solid;
	height:15px;
	margin-left:2px;
	margin-right:1px;
	margin-top:1px;
	margin-bottom:1px;
	/* font-family:arial, 新?明w; */
	font-size: 10pt;
	
}

.TextboxSingleFlat 
{
	border: 1px solid #D5D5D5;
	height: 20px;
}

.TextboxMultiFlat 
{
	border-left: #C9C9C9 1px solid; 
	border-right: #C9C9C9 1px solid; 
	border-top: #C9C9C9 1px solid; 
	border-bottom: #C9C9C9 1px solid;
	background-color:#FFFFFF;
	height:50px;
}

.Description
{
	border-left: #D5D5D5 0px solid; 
	border-right: #D5D5D5 0px solid; 
	border-top: #D5D5D5 0px solid; 
	border-bottom: #D5D5D5 1px solid;
	height:1px;
	
}
.TextBox-M
{
	border-left: #cccccc 0px solid; 
	border-right: #cccccc 0px solid; 
	border-top: #cccccc 0px solid; 
	border-bottom: #cccccc 1px solid;
	height:22px;	
	/* font-family:arial, 新?明w; */
	font-size: 10pt;	
}


.hr-style
{
	border-left: #cccccc 0px solid; 
	border-right: #cccccc 0px solid; 
	border-top: #cccccc 0px solid; 
	border-bottom: #3D3D3D 1px solid;
	
}
#ButtonPanel
{	
	text-align:center;
}

#Main
{
	float:left;
	clear:right;
	padding-left:10px;
	padding-right:20px;
}

#treeViewPanel
{
	float:left;
	width:180px;
	background-color:#EEEEEE;
	text-align:center;
}

.MenuPanel
{
	width:100%;
	text-align:left;
	margin-top:5px;
}

.FixedPanel
{
	width:780px;
}

.FixedPanelAnnual
{
	width:782px;
}

.QueryTechTeatureTextBox
{
	vertical-align:top;
	height:100%;
}



.HomePageTitle
{
	background-color:#00638E; 
	/* font-family:arial, 新?明w; */
	font-size: 18pt; 
	font-weight: normal;
	color: #ffffff; 
	LINE-HEIGHT: 175%; 
	TEXT-DECORATION: none
}

.HomePageHeader 
{
	background: #5b5b5b;
	/* font-family:arial, 新?明w; */
	FONT-SIZE: 11pt; 
	COLOR: #d7d7d7; 
	LINE-HEIGHT: 150%; 
	FONT-STYLE: normal; 
	height:28px;
	TEXT-DECORATION: none
}


.bktext_header
{
	/* font-family:arial, 新?明w; */
	font-size: 10pt;
	font-weight: bold;
	COLOR: #393939; 
	LINE-HEIGHT: 155%; 
	FONT-STYLE: normal; 
}

.bktext12 
{
	/* font-family:arial, 新?明w; */
	font-size: 10pt;
	font-weight:normal;
	COLOR: #393939; 
	LINE-HEIGHT: 155%; 
	FONT-STYLE: normal; 
}
.bktext12 A:link 
{
	/* font-family:arial, 新?明w; */
	font-size: 10pt;
	font-weight:normal;
	COLOR: #393939; 
	TEXT-DECORATION: underline
}
.bktext12 A:visited 
{
	/* font-family:arial, 新?明w; */
	font-size: 10pt;
	font-weight:normal;
	COLOR: #393939; 
	TEXT-DECORATION: underline
}
.bktext12 A:hover 
{
	/* font-family:arial, 新?明w; */
	font-size: 10pt;
	font-weight:normal;
	COLOR: #fe4005; 
	TEXT-DECORATION: none
}


.Label_SiteMapNode
{
	/* font-family:arial, 新?明w; */
	font-size: 9pt;
}

.Label_SiteMapSeparator
{
	/* font-family:arial, 新?明w; */
	font-size: 9pt;
}

.GridItem
{
	border-left: #cccccc 1px solid; 
	border-right: #cccccc 1px solid; 
	border-top: #cccccc 1px solid; 
	border-bottom: #cccccc 1px solid; 
	color:  #3D3D3D;
	WORD-BREAK:break-all;
	word-spacing:normal;
	height:22px;	
	/* font-family:arial, 新?明w; */
	font-size: 10pt;
}

.GridHead
{
	height:25px;	
	border-left: #cccccc 1px solid; 
	border-right: #cccccc 1px solid; 
	border-top: #cccccc 1px solid; 
	border-bottom: #cccccc 1px solid; 
	border-collapse: collapse;
	WORD-BREAK:   break-all;
	word-spacing:normal;			
	/* font-family:arial, 新?明w; */
	font-size: 10pt;
}

.GridFoot
{
	border-left: #cccccc 1px solid; 
	border-right: #cccccc 1px solid; 
	border-top: #cccccc 1px solid; 
	border-bottom: #cccccc 1px solid; 
	color:  #3D3D3D;
	WORD-BREAK:break-all;
	word-spacing:normal;
	height:22px;	
	/* font-family:arial, 新?明w; */
	font-size: 10pt;
}